<launch>
<group ns="seneka">
  <node name="VIDEO_MANAGER" pkg="videoManager" type="videoManager">
  
  	<param name="inputTopic"        	type="string" value="/optris/thermal_image"/>
	<param name="framesPerVideo"        type="int"    value="200"/>
	<param name="framesPerCache"        type="int"    value="100"/>
	<param name="framesPerBinary"       type="int"    value="100"/>
	<param name="videoFrameRate"        type="int"    value="10"/>
	<param name="binaryFilePath"        type="string" value="/home/cmm-jg/Bilder/container"/>
	<param name="videoFilePath"         type="string" value="/home/cmm-jg/Bilder/videoManager.avi"/>
	<param name="showFrame"		    	type="bool"   value="true"/>
	<param name="minTemperature"        type="int"    value="20"/>
	<param name="maxTemperature"        type="int"    value="40"/>
	<param name="PaletteScalingMethod"  type="int"    value="2"/>
	<param name="Palette"        	    type="int"    value="6"/>
	
      
  </node>
</group>
</launch>
