<?xml version="1.0"?>
<launch>

  <!-- start sensor_placement -->
  <node name="sensor_placement_test_publisher" pkg="sensor_placement" type="sensor_placement_test" output="screen" >
    <!-- load paramteres -->
    <rosparam file="$(find sensor_placement)/test/test.yaml" command="load" />
    <!-- output -->
    <remap from="out_AoI_polygon" to="/AoI_polygon"/>
    <remap from="out_forbidden_area_polygon" to="/forbidden_area_polygon"/>
    <remap from="out_PoI" to="/PoI"/>
  </node>
	
</launch>
