<launch>
<group ns="seneka">
  <node name="dgps" pkg="seneka_dgps" type="seneka_dgps_node" output="screen" respawn="true">
    	<param name="port"	type="string"	value="/dev/ttyS0"/>
	<param name="baud"	type="int"	value="38400"/>
	<param name="rate"	type="int"	value="1"/>
  </node>
</group>
</launch>
