<launch>
	<include file="$(find seneka_sensor_node_description)/launch/seneka_sensor_node_description.launch" />

	<include file="$(find seneka_node_bringup)/launch/dgps.launch" />
	<include file="$(find seneka_node_bringup)/launch/laser_scan.launch" />
	<include file="$(find seneka_node_bringup)/launch/sony_camera.launch" />
	<include file="$(find seneka_node_bringup)/launch/termo_video_manager.launch" />
	<include file="$(find seneka_node_bringup)/launch/video_manager.launch" />
	<include file="$(find seneka_node_bringup)/launch/windsensor.launch" />
	<include file="$(find seneka_node_bringup)/launch/control_interface.launch" />
	
</launch>
